@import "~bootstrap/scss/bootstrap";

.Console {
  display: block;
  color: $body-color;
  border: 1px solid $border-color;
  padding: $spacer * 0.5;
  max-height: 1000px;
  overflow-y: scroll;
  margin-bottom: 500px;
}

.Console-message {
  display: block;
  width: 100%;
  padding: $spacer * 0.25;

}

.Console-message--log {
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.Console-message--warning {
  color: darken($warning, 30%);
  background-color: rgba($warning, 0.3);

  &:not(:last-child) {
    border-bottom: 1px solid rgba($warning, 0.7);
  }
}

.Console-message--error {
  $text-color: red;
  color: $text-color;
  background-color: rgba($danger, 0.2);

  &:not(:last-child) {
    border-bottom: 1px solid rgba rgba($danger, 0.4);
  }
}

.Console-messageTime {
  display: inline-block;
  color: rgba($body-color, 0.5);
  width: 200px;
}
